.book-tutor{
    margin-top: 90px;
    height: 100%;
}
.book-tutor-heading{
    text-align: center;
    text-shadow: 2px 2px 8px crimson, 1px 1px mediumslateblue; 
    text-decoration: underline;
}
.tutor-data{
    position: absolute;
    top: 100px;
    right: 100px;
}